.dashboard-header {
  display: flex;
  align-items: center;
  justify-content: center;

  & button {
    margin-left: 1rem;
  }
}


table {
  width: 100%;
}

th.mat-sort-header-sorted {
  color: black;
}
